body{
    background-image:url(low\ opacity.png) ;
}
pre{
    color: white;
    text-shadow: 0 0 2px yellow;
    animation: glowpulse 3s ease-in-out infinite alternate;
}
@keyframes glowpulse{
   0%{text-shadow: 0 0 2px yellow;}
   100%{text-shadow: 0  0 26px yellow;}

}
.main content{
    position: absolute;
    left: 100px;
}
footer{
    color: white;
    text-shadow: 0 0 2px #0ff;
    animation: glowfooter 3s ease-in-out infinite alternate;

}
@keyframes glowfooter{
    0%{text-shadow: 0 0 2px #0ff;}
    100%{text-shadow: 0 0 26px #0ff}
}
.main img{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.66)
}